In [1]:
import sqlite3
from sqlite3 import OperationalError

conn = sqlite3.connect('./data/NBAdatabase.db')

In [2]:
import pandas as pd
raw_data = pd.read_csv("raw/2022.txt")
raw_data = raw_data.rename({'Start (ET)': 'start','Visitor/Neutral': 'visitor', 'PTS': 'visitor_pts','Home/Neutral': 'home', 'PTS.1': 'home_pts'}, axis=1)
raw_data = raw_data.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1)
raw_data

,Date,start,visitor,visitor_pts,home,home_pts,Attend.,Notes
0,Tue Oct 19 2021,7:30p,Brooklyn Nets,104,Milwaukee Bucks,127,17341.0,NaN
1,Tue Oct 19 2021,10:00p,Golden State Warriors,121,Los Angeles Lakers,114,18997.0,NaN
2,Wed Oct 20 2021,7:00p,Indiana Pacers,122,Charlotte Hornets,123,15521.0,NaN
3,Wed Oct 20 2021,7:00p,Chicago Bulls,94,Detroit Pistons,88,20088.0,NaN
4,Wed Oct 20 2021,7:30p,Boston Celtics,134,New York Knicks,138,19812.0,NaN
...,...,...,...,...,...,...,...,...
1145,Thu Mar 31 2022,7:00p,Philadelphia 76ers,94,Detroit Pistons,102,20023.0,NaN
1146,Thu Mar 31 2022,7:30p,Cleveland Cavaliers,107,Atlanta Hawks,131,17491.0,NaN
1147,Thu Mar 31 2022,7:30p,Milwaukee Bucks,120,Brooklyn Nets,119,17917.0,NaN
1148,Thu Mar 31 2022,8:00p,Los Angeles Clippers,130,Chicago Bulls,135,21519.0,NaN
1149,Thu Mar 31 2022,10:00p,Los Angeles Lakers,109,Utah Jazz,122,18306.0,NaN

In [3]:
raw_data["Date"]= pd.to_datetime(raw_data["Date"])
raw_data['start'] = pd.to_datetime(raw_data['start'])
raw_data['start'] = [time.time() for time in raw_data['start']]
raw_data

,Date,start,visitor,visitor_pts,home,home_pts,Attend.,Notes
0,2021-10-19,19:30:00,Brooklyn Nets,104,Milwaukee Bucks,127,17341.0,NaN
1,2021-10-19,22:00:00,Golden State Warriors,121,Los Angeles Lakers,114,18997.0,NaN
2,2021-10-20,19:00:00,Indiana Pacers,122,Charlotte Hornets,123,15521.0,NaN
3,2021-10-20,19:00:00,Chicago Bulls,94,Detroit Pistons,88,20088.0,NaN
4,2021-10-20,19:30:00,Boston Celtics,134,New York Knicks,138,19812.0,NaN
...,...,...,...,...,...,...,...,...
1145,2022-03-31,19:00:00,Philadelphia 76ers,94,Detroit Pistons,102,20023.0,NaN
1146,2022-03-31,19:30:00,Cleveland Cavaliers,107,Atlanta Hawks,131,17491.0,NaN
1147,2022-03-31,19:30:00,Milwaukee Bucks,120,Brooklyn Nets,119,17917.0,NaN
1148,2022-03-31,20:00:00,Los Angeles Clippers,130,Chicago Bulls,135,21519.0,NaN
1149,2022-03-31,22:00:00,Los Angeles Lakers,109,Utah Jazz,122,18306.0,NaN

In [4]:
from sklearn.preprocessing import LabelEncoder

raw_data['datetime'] = pd.to_datetime(raw_data["Date"].astype(str) + " " + raw_data["start"].astype(str))

In [5]:
total_lst = []
for row in raw_data.index:
    total_lst.append((raw_data['datetime'][row], 
                           raw_data['home'][row], 
                           raw_data['home_pts'][row], 
                           raw_data['visitor'][row], 
                           raw_data['visitor_pts'][row] ))
new_lst = []
name_lst = []
for row in total_lst:
    if row[0].day <=20 and row[0].month == 10:
        new_lst.append(row)
    if row[1] not in name_lst:
        name_lst.append(row[1])
    if row[3] not in name_lst:
        name_lst.append(row[3])
total_lst = new_lst

le =  LabelEncoder()
encoded_labels = le.fit_transform(name_lst)
labels_dict = {}
for i in range(len(name_lst)):
    labels_dict[name_lst[i]] = encoded_labels[i]
    
print(labels_dict)

{'Milwaukee Bucks': 16, 'Brooklyn Nets': 2, 'Los Angeles Lakers': 13, 'Golden State Warriors': 9, 'Charlotte Hornets': 3, 'Indiana Pacers': 11, 'Detroit Pistons': 8, 'Chicago Bulls': 4, 'New York Knicks': 19, 'Boston Celtics': 1, 'Toronto Raptors': 27, 'Washington Wizards': 29, 'Memphis Grizzlies': 14, 'Cleveland Cavaliers': 5, 'Minnesota Timberwolves': 17, 'Houston Rockets': 10, 'New Orleans Pelicans': 18, 'Philadelphia 76ers': 22, 'San Antonio Spurs': 26, 'Orlando Magic': 21, 'Utah Jazz': 28, 'Oklahoma City Thunder': 20, 'Portland Trail Blazers': 24, 'Sacramento Kings': 25, 'Phoenix Suns': 23, 'Denver Nuggets': 7, 'Atlanta Hawks': 0, 'Dallas Mavericks': 6, 'Miami Heat': 15, 'Los Angeles Clippers': 12}

 Create Table "Team"

In [6]:
# conn.execute('''DROP TABLE team;''')
conn.execute('''CREATE TABLE team(
                TeamId INTEGER NOT NULL,
                Name VARCHAR,
                PRIMARY KEY (TeamId)
                )''')

for ele in labels_dict:
    conn.execute( ''' INSERT INTO team(TeamId, Name) VALUES(?,?) ''', (int(labels_dict[ele]), ele))

In [7]:
results = list(conn.execute( ''' SELECT * FROM team'''))
print(results)

[(0, 'Atlanta Hawks'), (1, 'Boston Celtics'), (2, 'Brooklyn Nets'), (3, 'Charlotte Hornets'), (4, 'Chicago Bulls'), (5, 'Cleveland Cavaliers'), (6, 'Dallas Mavericks'), (7, 'Denver Nuggets'), (8, 'Detroit Pistons'), (9, 'Golden State Warriors'), (10, 'Houston Rockets'), (11, 'Indiana Pacers'), (12, 'Los Angeles Clippers'), (13, 'Los Angeles Lakers'), (14, 'Memphis Grizzlies'), (15, 'Miami Heat'), (16, 'Milwaukee Bucks'), (17, 'Minnesota Timberwolves'), (18, 'New Orleans Pelicans'), (19, 'New York Knicks'), (20, 'Oklahoma City Thunder'), (21, 'Orlando Magic'), (22, 'Philadelphia 76ers'), (23, 'Phoenix Suns'), (24, 'Portland Trail Blazers'), (25, 'Sacramento Kings'), (26, 'San Antonio Spurs'), (27, 'Toronto Raptors'), (28, 'Utah Jazz'), (29, 'Washington Wizards')]

In [9]:
# conn.execute('''DROP TABLE schedule;''')
conn.execute('''CREATE TABLE schedule(
                GameId INTEGER NOT NULL,
                date TEXT NOT NULL,
                homeId INTEGER,
                home_pts INTEGER,
                visitorId INTEGER,
                visitor_pts INTEGER,
                FOREIGN KEY ([homeId]) REFERENCES [team] ([TeamId]) ON DELETE NO ACTION ON UPDATE NO ACTION,
                FOREIGN KEY ([visitorId]) REFERENCES [team] ([TeamId]) ON DELETE NO ACTION ON UPDATE NO ACTION,
                PRIMARY KEY (GameId)
                )''')

for num, ele in enumerate(total_lst):
    dt = ele[0].strftime('%Y-%m-%d %H:%M:%S')
    conn.execute( ''' INSERT INTO schedule(GameId, date, homeId, home_pts, visitorId, visitor_pts) VALUES(?,?,?,?,?,?) ''', (num, dt, int(labels_dict[ele[1]]), int(ele[2]), int(labels_dict[ele[3]]), int(ele[4])))

In [10]:
results = list(conn.execute( ''' SELECT * FROM schedule'''))
print(results)

[(0, '2021-10-19 19:30:00', 16, 127, 2, 104), (1, '2021-10-19 22:00:00', 13, 114, 9, 121), (2, '2021-10-20 19:00:00', 3, 123, 11, 122), (3, '2021-10-20 19:00:00', 8, 88, 4, 94), (4, '2021-10-20 19:30:00', 19, 138, 1, 134), (5, '2021-10-20 19:30:00', 27, 83, 29, 98), (6, '2021-10-20 20:00:00', 14, 132, 5, 121), (7, '2021-10-20 20:00:00', 17, 124, 10, 106), (8, '2021-10-20 20:00:00', 18, 97, 22, 117), (9, '2021-10-20 20:30:00', 26, 123, 21, 97), (10, '2021-10-20 21:00:00', 28, 107, 20, 86), (11, '2021-10-20 22:00:00', 24, 121, 25, 124), (12, '2021-10-20 22:00:00', 23, 98, 7, 110)]

In [11]:
import os

root = r"raw/new/"
file_list = [os.path.join(path, name) for path, subdirs, files in os.walk(root) for name in files]
print(file_list)

['raw/new/19BN_adv.csv', 'raw/new/19BN_basic.csv', 'raw/new/19GW_adv.csv', 'raw/new/19GW_basic.csv', 'raw/new/19LL_adv.csv', 'raw/new/19LL_basic.csv', 'raw/new/19MB_adv.csv', 'raw/new/19MB_basic.csv', 'raw/new/20BC_adv.csv', 'raw/new/20BC_basic.csv', 'raw/new/20CB_adv.csv', 'raw/new/20CB_basic.csv', 'raw/new/20CCbasic.csv', 'raw/new/20CC_adv.csv', 'raw/new/20CH_adv.csv', 'raw/new/20CH_basic.csv', 'raw/new/20DN_adv.csv', 'raw/new/20DN_basic.csv', 'raw/new/20DP_adv.csv', 'raw/new/20DP_basic.csv', 'raw/new/20HR_adv.csv', 'raw/new/20HR_basic.csv', 'raw/new/20IP_adv.csv', 'raw/new/20IP_basic.csv', 'raw/new/20MG_adv.csv', 'raw/new/20MG_basic.csv', 'raw/new/20MT_adv.csv', 'raw/new/20MT_basic.csv', 'raw/new/20NK_adv.csv', 'raw/new/20NK_basic.csv', 'raw/new/20NP_adv.csv', 'raw/new/20NP_basic.csv', 'raw/new/20OM_adv.csv', 'raw/new/20OM_basic.csv', 'raw/new/20OT_adv.csv', 'raw/new/20OT_basic.csv', 'raw/new/20P7_adv.csv', 'raw/new/20P7_basic.csv', 'raw/new/20PB_adv.csv', 'raw/new/20PB_basic.csv', 'raw/new/20PS_adv.csv', 'raw/new/20PS_basic.csv', 'raw/new/20SK_adv.csv', 'raw/new/20SK_basic.csv', 'raw/new/20SS_adv.csv', 'raw/new/20SS_basic.csv', 'raw/new/20TR_adv.csv', 'raw/new/20TR_basic.csv', 'raw/new/20UJ_adv.csv', 'raw/new/20UJ_basic.csv', 'raw/new/20WW_adv.csv', 'raw/new/20WW_basic.csv']

In [12]:
import pandas as pd
player_lst = []
print(file_list)

# df = pd.read_csv('raw/new/20BC_adv.csv')
# df

for file in file_list:
    df = pd.read_csv(file)
    for index, row in df.iterrows():
        if row['Unnamed: 0'] != 'Starters'and row['Unnamed: 0'] not in player_lst:
            player_lst.append(row['Unnamed: 0'])

print(len(player_lst))
player_dict = {}
for idx, name in enumerate(player_lst):
    player_dict[name] = idx
    
player_dict

['raw/new/19BN_adv.csv', 'raw/new/19BN_basic.csv', 'raw/new/19GW_adv.csv', 'raw/new/19GW_basic.csv', 'raw/new/19LL_adv.csv', 'raw/new/19LL_basic.csv', 'raw/new/19MB_adv.csv', 'raw/new/19MB_basic.csv', 'raw/new/20BC_adv.csv', 'raw/new/20BC_basic.csv', 'raw/new/20CB_adv.csv', 'raw/new/20CB_basic.csv', 'raw/new/20CCbasic.csv', 'raw/new/20CC_adv.csv', 'raw/new/20CH_adv.csv', 'raw/new/20CH_basic.csv', 'raw/new/20DN_adv.csv', 'raw/new/20DN_basic.csv', 'raw/new/20DP_adv.csv', 'raw/new/20DP_basic.csv', 'raw/new/20HR_adv.csv', 'raw/new/20HR_basic.csv', 'raw/new/20IP_adv.csv', 'raw/new/20IP_basic.csv', 'raw/new/20MG_adv.csv', 'raw/new/20MG_basic.csv', 'raw/new/20MT_adv.csv', 'raw/new/20MT_basic.csv', 'raw/new/20NK_adv.csv', 'raw/new/20NK_basic.csv', 'raw/new/20NP_adv.csv', 'raw/new/20NP_basic.csv', 'raw/new/20OM_adv.csv', 'raw/new/20OM_basic.csv', 'raw/new/20OT_adv.csv', 'raw/new/20OT_basic.csv', 'raw/new/20P7_adv.csv', 'raw/new/20P7_basic.csv', 'raw/new/20PB_adv.csv', 'raw/new/20PB_basic.csv', 'raw/new/20PS_adv.csv', 'raw/new/20PS_basic.csv', 'raw/new/20SK_adv.csv', 'raw/new/20SK_basic.csv', 'raw/new/20SS_adv.csv', 'raw/new/20SS_basic.csv', 'raw/new/20TR_adv.csv', 'raw/new/20TR_basic.csv', 'raw/new/20UJ_adv.csv', 'raw/new/20UJ_basic.csv', 'raw/new/20WW_adv.csv', 'raw/new/20WW_basic.csv']
361

{'Joe Harris': 0,
 'James Harden': 1,
 'Kevin Durant': 2,
 'Nic Claxton': 3,
 'Blake Griffin': 4,
 'Patty Mills': 5,
 'James Johnson': 6,
 'Jevon Carter': 7,
 'LaMarcus Aldridge': 8,
 'Paul Millsap': 9,
 "DeAndre' Bembry": 10,
 'Bruce Brown': 11,
 'Cam Thomas': 12,
 'Kessler Edwards': 13,
 'David Duke Jr.': 14,
 'Stephen Curry': 15,
 'Draymond Green': 16,
 'Andrew Wiggins': 17,
 'Jordan Poole': 18,
 'Kevon Looney': 19,
 'Damion Lee': 20,
 'Nemanja Bjelica': 21,
 'Andre Iguodala': 22,
 'Juan Toscano-Anderson': 23,
 'Otto Porter Jr.': 24,
 'Moses Moody': 25,
 'Gary Payton II': 26,
 'Anthony Davis': 27,
 'LeBron James': 28,
 'Russell Westbrook': 29,
 'Kent Bazemore': 30,
 'DeAndre Jordan': 31,
 'Carmelo Anthony': 32,
 'Rajon Rondo': 33,
 'Malik Monk': 34,
 'Dwight Howard': 35,
 'Avery Bradley': 36,
 'Austin Reaves': 37,
 'Sekou Doumbouya': 38,
 'Giannis Antetokounmpo': 39,
 'Khris Middleton': 40,
 'Brook Lopez': 41,
 'Grayson Allen': 42,
 'Jrue Holiday': 43,
 'Pat Connaughton': 44,
 'Jordan Nwora': 45,
 'George Hill': 46,
 'Thanasis Antetokounmpo': 47,
 'Sandro Mamukelashvili': 48,
 'Justin Robinson': 49,
 'Georgios Kalaitzakis': 50,
 'Jaylen Brown': 51,
 'Marcus Smart': 52,
 'Robert Williams': 53,
 'Jayson Tatum': 54,
 'Grant Williams': 55,
 'Dennis SchrÃ¶der': 56,
 'Romeo Langford': 57,
 'Aaron Nesmith': 58,
 'Payton Pritchard': 59,
 'Enes Freedom': 60,
 'Jabari Parker': 61,
 'Bruno Fernando': 62,
 'Brodric Thomas': 63,
 'Juancho HernangÃ³mez': 64,
 'Sam Hauser': 65,
 'DeMar DeRozan': 66,
 'Nikola VuÄ\x8deviÄ‡': 67,
 'Zach LaVine': 68,
 'Lonzo Ball': 69,
 'Patrick Williams': 70,
 'Alex Caruso': 71,
 'Javonte Green': 72,
 'Alize Johnson': 73,
 'Ayo Dosunmu': 74,
 'Troy Brown Jr.': 75,
 'Marko Simonovic': 76,
 'Tony Bradley': 77,
 'Matt Thomas': 78,
 'Derrick Jones Jr.': 79,
 'Evan Mobley': 80,
 'Darius Garland': 81,
 'Lauri Markkanen': 82,
 'Collin Sexton': 83,
 'Jarrett Allen': 84,
 'Ricky Rubio': 85,
 'Isaac Okoro': 86,
 'Kevin Love': 87,
 'Cedi Osman': 88,
 'Tacko Fall': 89,
 'RJ Nembhard Jr.': 90,
 'Denzel Valentine': 91,
 'Lamar Stevens': 92,
 'Kevin Pangos': 93,
 'Ed Davis': 94,
 'Gordon Hayward': 95,
 'Kelly Oubre Jr.': 96,
 'Miles Bridges': 97,
 'Mason Plumlee': 98,
 'LaMelo Ball': 99,
 'Cody Martin': 100,
 'Ish Smith': 101,
 'P.J. Washington': 102,
 'Jalen McDaniels': 103,
 'James Bouknight': 104,
 'JT Thor': 105,
 'Arnoldas Kulboka': 106,
 'Kai Jones': 107,
 'Nick Richards': 108,
 'Vernon Carey Jr.': 109,
 'Nikola JokiÄ‡': 110,
 'Michael Porter Jr.': 111,
 'Will Barton': 112,
 'Aaron Gordon': 113,
 'Monte Morris': 114,
 'PJ Dozier': 115,
 'Facundo Campazzo': 116,
 'Jeff Green': 117,
 'JaMychal Green': 118,
 'Austin Rivers': 119,
 'Bones Hyland': 120,
 'Markus Howard': 121,
 'Bol Bol': 122,
 'Petr Cornelie': 123,
 'Zeke Nnaji': 124,
 'Saddiq Bey': 125,
 'Jerami Grant': 126,
 'Frank Jackson': 127,
 'Isaiah Stewart': 128,
 'Killian Hayes': 129,
 'Cory Joseph': 130,
 'Kelly Olynyk': 131,
 'Josh Jackson': 132,
 'Trey Lyles': 133,
 'Hamidou Diallo': 134,
 'Rodney McGruder': 135,
 'Luka Garza': 136,
 'Jamorko Pickett': 137,
 'Saben Lee': 138,
 'Jalen Green': 139,
 'Christian Wood': 140,
 'Kevin Porter Jr.': 141,
 "Jae'Sean Tate": 142,
 'Daniel Theis': 143,
 'Eric Gordon': 144,
 'Alperen ÅžengÃ¼n': 145,
 'David Nwaba': 146,
 'D.J. Augustin': 147,
 'Kenyon Martin Jr.': 148,
 'Armoni Brooks': 149,
 'Josh Christopher': 150,
 'Usman Garuba': 151,
 'Malcolm Brogdon': 152,
 'Domantas Sabonis': 153,
 'Chris Duarte': 154,
 'Myles Turner': 155,
 'Justin Holiday': 156,
 'Torrey Craig': 157,
 'Jeremy Lamb': 158,
 'T.J. McConnell': 159,
 'Duane Washington Jr.': 160,
 'Brad Wanamaker': 161,
 'Oshae Brissett': 162,
 'Goga Bitadze': 163,
 'Isaiah Jackson': 164,
 'Ja Morant': 165,
 'Steven Adams': 166,
 'Jaren Jackson Jr.': 167,
 "De'Anthony Melton": 168,
 'Desmond Bane': 169,
 'Kyle Anderson': 170,
 'John Konchar': 171,
 'Ziaire Williams': 172,
 'Tyus Jones': 173,
 'Brandon Clarke': 174,
 'Jarrett Culver': 175,
 'Sam Merrill': 176,
 'Santi Aldama': 177,
 'Xavier Tillman Sr.': 178,
 'Killian Tillie': 179,
 'Anthony Edwards': 180,
 'Karl-Anthony Towns': 181,
 'Jaden McDaniels': 182,
 "D'Angelo Russell": 183,
 'Josh Okogie': 184,
 'Malik Beasley': 185,
 'Jordan McLaughlin': 186,
 'Naz Reid': 187,
 'Taurean Prince': 188,
 'Jarred Vanderbilt': 189,
 'Jaylen Nowell': 190,
 'Leandro Bolmaro': 191,
 'Jake Layman': 192,
 'McKinley Wright IV': 193,
 'Patrick Beverley': 194,
 'RJ Barrett': 195,
 'Julius Randle': 196,
 'Evan Fournier': 197,
 'Kemba Walker': 198,
 'Mitchell Robinson': 199,
 'Obi Toppin': 200,
 'Derrick Rose': 201,
 'Alec Burks': 202,
 'Immanuel Quickley': 203,
 'Jericho Sims': 204,
 'Quentin Grimes': 205,
 'Miles McBride': 206,
 'Kevin Knox': 207,
 'Wayne Selden': 208,
 'Brandon Ingram': 209,
 'Nickeil Alexander-Walker': 210,
 'Jonas ValanÄ\x8diÅ«nas': 211,
 "Devonte' Graham": 212,
 'Josh Hart': 213,
 'Naji Marshall': 214,
 'Jaxson Hayes': 215,
 'Trey Murphy III': 216,
 'Kira Lewis Jr.': 217,
 'Garrett Temple': 218,
 'TomÃ¡Å¡ SatoranskÃ½': 219,
 'Herbert Jones': 220,
 'Didi Louzada': 221,
 'Willy HernangÃ³mez': 222,
 'Jose Alvarado': 223,
 'Franz Wagner': 224,
 'Jalen Suggs': 225,
 'Cole Anthony': 226,
 'Mo Bamba': 227,
 'Wendell Carter Jr.': 228,
 'Terrence Ross': 229,
 'R.J. Hampton': 230,
 'Ignas Brazdeikis': 231,
 'Moritz Wagner': 232,
 'Robin Lopez': 233,
 'Gary Harris': 234,
 "E'Twaun Moore": 235,
 'Shai Gilgeous-Alexander': 236,
 'Darius Bazley': 237,
 'Luguentz Dort': 238,
 'Josh Giddey': 239,
 'Derrick Favors': 240,
 'ThÃ©o Maledon': 241,
 'Kenrich Williams': 242,
 'Aleksej Pokusevski': 243,
 'Tre Mann': 244,
 'Isaiah Roby': 245,
 'Jeremiah Robinson-Earl': 246,
 'Vit Krejci': 247,
 'Ty Jerome': 248,
 'Mike Muscala': 249,
 'Gabriel Deck': 250,
 'Tyrese Maxey': 251,
 'Tobias Harris': 252,
 'Seth Curry': 253,
 'Joel Embiid': 254,
 'Danny Green': 255,
 'Matisse Thybulle': 256,
 'Furkan Korkmaz': 257,
 'Andre Drummond': 258,
 'Georges Niang': 259,
 'Isaiah Joe': 260,
 'Paul Reed': 261,
 'Charles Bassey': 262,
 'Aaron Henry': 263,
 'Jaden Springer': 264,
 'Damian Lillard': 265,
 'CJ McCollum': 266,
 'Norman Powell': 267,
 'Robert Covington': 268,
 'Jusuf NurkiÄ‡': 269,
 'Cody Zeller': 270,
 'Anfernee Simons': 271,
 'Larry Nance Jr.': 272,
 'Nassir Little': 273,
 'Ben McLemore': 274,
 'Dennis Smith Jr.': 275,
 'Greg Brown III': 276,
 'CJ Elleby': 277,
 'Chris Paul': 278,
 'Mikal Bridges': 279,
 'Deandre Ayton': 280,
 'Devin Booker': 281,
 'Jae Crowder': 282,
 'Cameron Johnson': 283,
 'Landry Shamet': 284,
 'JaVale McGee': 285,
 'Cameron Payne': 286,
 'Abdel Nader': 287,
 'Jalen Smith': 288,
 'Elfrid Payton': 289,
 'Chandler Hutchison': 290,
 'Frank Kaminsky': 291,
 'Harrison Barnes': 292,
 "De'Aaron Fox": 293,
 'Richaun Holmes': 294,
 'Tyrese Haliburton': 295,
 'Maurice Harkless': 296,
 'Buddy Hield': 297,
 'Davion Mitchell': 298,
 'Tristan Thompson': 299,
 'Terence Davis': 300,
 'Chimezie Metu': 301,
 'Damian Jones': 302,
 'Alex Len': 303,
 'Robert Woodard II': 304,
 'Marvin Bagley III': 305,
 'Dejounte Murray': 306,
 'Derrick White': 307,
 'Jakob Poeltl': 308,
 'Keldon Johnson': 309,
 'Doug McDermott': 310,
 'Lonnie Walker IV': 311,
 'Devin Vassell': 312,
 'Drew Eubanks': 313,
 'Keita Bates-Diop': 314,
 'Tre Jones': 315,
 'Bryn Forbes': 316,
 'Joshua Primo': 317,
 'Jock Landale': 318,
 'Fred VanVleet': 319,
 'OG Anunoby': 320,
 'Scottie Barnes': 321,
 'Goran DragiÄ‡': 322,
 'Precious Achiuwa': 323,
 'Gary Trent Jr.': 324,
 'Khem Birch': 325,
 'Chris Boucher': 326,
 'Svi Mykhailiuk': 327,
 'Dalano Banton': 328,
 'Justin Champagnie': 329,
 'Isaac Bonga': 330,
 'Malachi Flynn': 331,
 'David Johnson': 332,
 'Sam Dekker': 333,
 'Rudy Gobert': 334,
 'Donovan Mitchell': 335,
 'Bojan BogdanoviÄ‡': 336,
 "Royce O'Neale": 337,
 'Mike Conley': 338,
 'Jordan Clarkson': 339,
 'Joe Ingles': 340,
 'Hassan Whiteside': 341,
 'Eric Paschall': 342,
 'Jared Butler': 343,
 'Elijah Hughes': 344,
 'Malik Fitts': 345,
 'Miye Oni': 346,
 'Udoka Azubuike': 347,
 'Kyle Kuzma': 348,
 'Bradley Beal': 349,
 'Kentavious Caldwell-Pope': 350,
 'Spencer Dinwiddie': 351,
 'Daniel Gafford': 352,
 'Montrezl Harrell': 353,
 'Raul Neto': 354,
 'Deni Avdija': 355,
 'DÄ\x81vis BertÄ\x81ns': 356,
 'Aaron Holiday': 357,
 'Isaiah Todd': 358,
 'Corey Kispert': 359,
 'Anthony Gill': 360}

In [15]:
conn.execute('''DROP TABLE player;''')
conn.execute('''CREATE TABLE player(
                PlayerId INTEGER NOT NULL,
                Name VARCHAR,
                PRIMARY KEY (PlayerId)
                )''')

for ele in player_dict:
    conn.execute( ''' INSERT INTO player(PlayerId, Name) VALUES(?,?) ''', (int(player_dict[ele]), ele))

In [16]:
results = list(conn.execute( ''' SELECT * FROM player'''))
print(results)

[(0, 'Joe Harris'), (1, 'James Harden'), (2, 'Kevin Durant'), (3, 'Nic Claxton'), (4, 'Blake Griffin'), (5, 'Patty Mills'), (6, 'James Johnson'), (7, 'Jevon Carter'), (8, 'LaMarcus Aldridge'), (9, 'Paul Millsap'), (10, "DeAndre' Bembry"), (11, 'Bruce Brown'), (12, 'Cam Thomas'), (13, 'Kessler Edwards'), (14, 'David Duke Jr.'), (15, 'Stephen Curry'), (16, 'Draymond Green'), (17, 'Andrew Wiggins'), (18, 'Jordan Poole'), (19, 'Kevon Looney'), (20, 'Damion Lee'), (21, 'Nemanja Bjelica'), (22, 'Andre Iguodala'), (23, 'Juan Toscano-Anderson'), (24, 'Otto Porter Jr.'), (25, 'Moses Moody'), (26, 'Gary Payton II'), (27, 'Anthony Davis'), (28, 'LeBron James'), (29, 'Russell Westbrook'), (30, 'Kent Bazemore'), (31, 'DeAndre Jordan'), (32, 'Carmelo Anthony'), (33, 'Rajon Rondo'), (34, 'Malik Monk'), (35, 'Dwight Howard'), (36, 'Avery Bradley'), (37, 'Austin Reaves'), (38, 'Sekou Doumbouya'), (39, 'Giannis Antetokounmpo'), (40, 'Khris Middleton'), (41, 'Brook Lopez'), (42, 'Grayson Allen'), (43, 'Jrue Holiday'), (44, 'Pat Connaughton'), (45, 'Jordan Nwora'), (46, 'George Hill'), (47, 'Thanasis Antetokounmpo'), (48, 'Sandro Mamukelashvili'), (49, 'Justin Robinson'), (50, 'Georgios Kalaitzakis'), (51, 'Jaylen Brown'), (52, 'Marcus Smart'), (53, 'Robert Williams'), (54, 'Jayson Tatum'), (55, 'Grant Williams'), (56, 'Dennis SchrÃ¶der'), (57, 'Romeo Langford'), (58, 'Aaron Nesmith'), (59, 'Payton Pritchard'), (60, 'Enes Freedom'), (61, 'Jabari Parker'), (62, 'Bruno Fernando'), (63, 'Brodric Thomas'), (64, 'Juancho HernangÃ³mez'), (65, 'Sam Hauser'), (66, 'DeMar DeRozan'), (67, 'Nikola VuÄ\x8deviÄ‡'), (68, 'Zach LaVine'), (69, 'Lonzo Ball'), (70, 'Patrick Williams'), (71, 'Alex Caruso'), (72, 'Javonte Green'), (73, 'Alize Johnson'), (74, 'Ayo Dosunmu'), (75, 'Troy Brown Jr.'), (76, 'Marko Simonovic'), (77, 'Tony Bradley'), (78, 'Matt Thomas'), (79, 'Derrick Jones Jr.'), (80, 'Evan Mobley'), (81, 'Darius Garland'), (82, 'Lauri Markkanen'), (83, 'Collin Sexton'), (84, 'Jarrett Allen'), (85, 'Ricky Rubio'), (86, 'Isaac Okoro'), (87, 'Kevin Love'), (88, 'Cedi Osman'), (89, 'Tacko Fall'), (90, 'RJ Nembhard Jr.'), (91, 'Denzel Valentine'), (92, 'Lamar Stevens'), (93, 'Kevin Pangos'), (94, 'Ed Davis'), (95, 'Gordon Hayward'), (96, 'Kelly Oubre Jr.'), (97, 'Miles Bridges'), (98, 'Mason Plumlee'), (99, 'LaMelo Ball'), (100, 'Cody Martin'), (101, 'Ish Smith'), (102, 'P.J. Washington'), (103, 'Jalen McDaniels'), (104, 'James Bouknight'), (105, 'JT Thor'), (106, 'Arnoldas Kulboka'), (107, 'Kai Jones'), (108, 'Nick Richards'), (109, 'Vernon Carey Jr.'), (110, 'Nikola JokiÄ‡'), (111, 'Michael Porter Jr.'), (112, 'Will Barton'), (113, 'Aaron Gordon'), (114, 'Monte Morris'), (115, 'PJ Dozier'), (116, 'Facundo Campazzo'), (117, 'Jeff Green'), (118, 'JaMychal Green'), (119, 'Austin Rivers'), (120, 'Bones Hyland'), (121, 'Markus Howard'), (122, 'Bol Bol'), (123, 'Petr Cornelie'), (124, 'Zeke Nnaji'), (125, 'Saddiq Bey'), (126, 'Jerami Grant'), (127, 'Frank Jackson'), (128, 'Isaiah Stewart'), (129, 'Killian Hayes'), (130, 'Cory Joseph'), (131, 'Kelly Olynyk'), (132, 'Josh Jackson'), (133, 'Trey Lyles'), (134, 'Hamidou Diallo'), (135, 'Rodney McGruder'), (136, 'Luka Garza'), (137, 'Jamorko Pickett'), (138, 'Saben Lee'), (139, 'Jalen Green'), (140, 'Christian Wood'), (141, 'Kevin Porter Jr.'), (142, "Jae'Sean Tate"), (143, 'Daniel Theis'), (144, 'Eric Gordon'), (145, 'Alperen ÅžengÃ¼n'), (146, 'David Nwaba'), (147, 'D.J. Augustin'), (148, 'Kenyon Martin Jr.'), (149, 'Armoni Brooks'), (150, 'Josh Christopher'), (151, 'Usman Garuba'), (152, 'Malcolm Brogdon'), (153, 'Domantas Sabonis'), (154, 'Chris Duarte'), (155, 'Myles Turner'), (156, 'Justin Holiday'), (157, 'Torrey Craig'), (158, 'Jeremy Lamb'), (159, 'T.J. McConnell'), (160, 'Duane Washington Jr.'), (161, 'Brad Wanamaker'), (162, 'Oshae Brissett'), (163, 'Goga Bitadze'), (164, 'Isaiah Jackson'), (165, 'Ja Morant'), (166, 'Steven Adams'), (167, 'Jaren Jackson Jr.'), (168, "De'Anthony Melton"), (169, 'Desmond Bane'), (170, 'Kyle Anderson'), (171, 'John Konchar'), (172, 'Ziaire Williams'), (173, 'Tyus Jones'), (174, 'Brandon Clarke'), (175, 'Jarrett Culver'), (176, 'Sam Merrill'), (177, 'Santi Aldama'), (178, 'Xavier Tillman Sr.'), (179, 'Killian Tillie'), (180, 'Anthony Edwards'), (181, 'Karl-Anthony Towns'), (182, 'Jaden McDaniels'), (183, "D'Angelo Russell"), (184, 'Josh Okogie'), (185, 'Malik Beasley'), (186, 'Jordan McLaughlin'), (187, 'Naz Reid'), (188, 'Taurean Prince'), (189, 'Jarred Vanderbilt'), (190, 'Jaylen Nowell'), (191, 'Leandro Bolmaro'), (192, 'Jake Layman'), (193, 'McKinley Wright IV'), (194, 'Patrick Beverley'), (195, 'RJ Barrett'), (196, 'Julius Randle'), (197, 'Evan Fournier'), (198, 'Kemba Walker'), (199, 'Mitchell Robinson'), (200, 'Obi Toppin'), (201, 'Derrick Rose'), (202, 'Alec Burks'), (203, 'Immanuel Quickley'), (204, 'Jericho Sims'), (205, 'Quentin Grimes'), (206, 'Miles McBride'), (207, 'Kevin Knox'), (208, 'Wayne Selden'), (209, 'Brandon Ingram'), (210, 'Nickeil Alexander-Walker'), (211, 'Jonas ValanÄ\x8diÅ«nas'), (212, "Devonte' Graham"), (213, 'Josh Hart'), (214, 'Naji Marshall'), (215, 'Jaxson Hayes'), (216, 'Trey Murphy III'), (217, 'Kira Lewis Jr.'), (218, 'Garrett Temple'), (219, 'TomÃ¡Å¡ SatoranskÃ½'), (220, 'Herbert Jones'), (221, 'Didi Louzada'), (222, 'Willy HernangÃ³mez'), (223, 'Jose Alvarado'), (224, 'Franz Wagner'), (225, 'Jalen Suggs'), (226, 'Cole Anthony'), (227, 'Mo Bamba'), (228, 'Wendell Carter Jr.'), (229, 'Terrence Ross'), (230, 'R.J. Hampton'), (231, 'Ignas Brazdeikis'), (232, 'Moritz Wagner'), (233, 'Robin Lopez'), (234, 'Gary Harris'), (235, "E'Twaun Moore"), (236, 'Shai Gilgeous-Alexander'), (237, 'Darius Bazley'), (238, 'Luguentz Dort'), (239, 'Josh Giddey'), (240, 'Derrick Favors'), (241, 'ThÃ©o Maledon'), (242, 'Kenrich Williams'), (243, 'Aleksej Pokusevski'), (244, 'Tre Mann'), (245, 'Isaiah Roby'), (246, 'Jeremiah Robinson-Earl'), (247, 'Vit Krejci'), (248, 'Ty Jerome'), (249, 'Mike Muscala'), (250, 'Gabriel Deck'), (251, 'Tyrese Maxey'), (252, 'Tobias Harris'), (253, 'Seth Curry'), (254, 'Joel Embiid'), (255, 'Danny Green'), (256, 'Matisse Thybulle'), (257, 'Furkan Korkmaz'), (258, 'Andre Drummond'), (259, 'Georges Niang'), (260, 'Isaiah Joe'), (261, 'Paul Reed'), (262, 'Charles Bassey'), (263, 'Aaron Henry'), (264, 'Jaden Springer'), (265, 'Damian Lillard'), (266, 'CJ McCollum'), (267, 'Norman Powell'), (268, 'Robert Covington'), (269, 'Jusuf NurkiÄ‡'), (270, 'Cody Zeller'), (271, 'Anfernee Simons'), (272, 'Larry Nance Jr.'), (273, 'Nassir Little'), (274, 'Ben McLemore'), (275, 'Dennis Smith Jr.'), (276, 'Greg Brown III'), (277, 'CJ Elleby'), (278, 'Chris Paul'), (279, 'Mikal Bridges'), (280, 'Deandre Ayton'), (281, 'Devin Booker'), (282, 'Jae Crowder'), (283, 'Cameron Johnson'), (284, 'Landry Shamet'), (285, 'JaVale McGee'), (286, 'Cameron Payne'), (287, 'Abdel Nader'), (288, 'Jalen Smith'), (289, 'Elfrid Payton'), (290, 'Chandler Hutchison'), (291, 'Frank Kaminsky'), (292, 'Harrison Barnes'), (293, "De'Aaron Fox"), (294, 'Richaun Holmes'), (295, 'Tyrese Haliburton'), (296, 'Maurice Harkless'), (297, 'Buddy Hield'), (298, 'Davion Mitchell'), (299, 'Tristan Thompson'), (300, 'Terence Davis'), (301, 'Chimezie Metu'), (302, 'Damian Jones'), (303, 'Alex Len'), (304, 'Robert Woodard II'), (305, 'Marvin Bagley III'), (306, 'Dejounte Murray'), (307, 'Derrick White'), (308, 'Jakob Poeltl'), (309, 'Keldon Johnson'), (310, 'Doug McDermott'), (311, 'Lonnie Walker IV'), (312, 'Devin Vassell'), (313, 'Drew Eubanks'), (314, 'Keita Bates-Diop'), (315, 'Tre Jones'), (316, 'Bryn Forbes'), (317, 'Joshua Primo'), (318, 'Jock Landale'), (319, 'Fred VanVleet'), (320, 'OG Anunoby'), (321, 'Scottie Barnes'), (322, 'Goran DragiÄ‡'), (323, 'Precious Achiuwa'), (324, 'Gary Trent Jr.'), (325, 'Khem Birch'), (326, 'Chris Boucher'), (327, 'Svi Mykhailiuk'), (328, 'Dalano Banton'), (329, 'Justin Champagnie'), (330, 'Isaac Bonga'), (331, 'Malachi Flynn'), (332, 'David Johnson'), (333, 'Sam Dekker'), (334, 'Rudy Gobert'), (335, 'Donovan Mitchell'), (336, 'Bojan BogdanoviÄ‡'), (337, "Royce O'Neale"), (338, 'Mike Conley'), (339, 'Jordan Clarkson'), (340, 'Joe Ingles'), (341, 'Hassan Whiteside'), (342, 'Eric Paschall'), (343, 'Jared Butler'), (344, 'Elijah Hughes'), (345, 'Malik Fitts'), (346, 'Miye Oni'), (347, 'Udoka Azubuike'), (348, 'Kyle Kuzma'), (349, 'Bradley Beal'), (350, 'Kentavious Caldwell-Pope'), (351, 'Spencer Dinwiddie'), (352, 'Daniel Gafford'), (353, 'Montrezl Harrell'), (354, 'Raul Neto'), (355, 'Deni Avdija'), (356, 'DÄ\x81vis BertÄ\x81ns'), (357, 'Aaron Holiday'), (358, 'Isaiah Todd'), (359, 'Corey Kispert'), (360, 'Anthony Gill')]

In [18]:
conn.commit()
conn.close()